<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Remover Fundo de Imagem</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='_css/styles.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
  <div class="container mt-4">
    <h1 class="text-center">Remover Fundo de Imagem</h1>

    <form id="upload-form" action="{{ url_for('background_remover') }}" method="post" enctype="multipart/form-data" class="mt-4">
      <div class="form-group">
        <label for="files">Selecionar Imagens:</label>
        <input type="file" id="file-input" name="files[]" multiple class="form-control-file">
        <div id="image-preview" class="image-preview"></div>
      </div>
      <div class="form-group">
        <label for="urls">Adicionar URLs de Imagens (uma por linha):</label>
        <textarea name="urls" class="form-control" rows="4"></textarea>
      </div>
      <button type="button" id="convert-button" class="btn btn-primary btn-lg w-100">Converter Imagens</button>
    </form>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      {% if message %}
      Swal.fire({
        title: 'Sucesso!',
        text: '{{ message }}',
        icon: 'success',
        confirmButtonText: 'OK'
      });
      {% elif error %}
      Swal.fire({
        title: 'Erro!',
        text: '{{ error }}',
        icon: 'error',
        confirmButtonText: 'OK'
      });
      {% endif %}
    });

    function showAlert(type, message) {
      Swal.fire({
        title: type.charAt(0).toUpperCase() + type.slice(1) + '!',
        text: message,
        icon: type,
        confirmButtonText: 'OK'
      });
    }

    document.getElementById('convert-button').addEventListener('click', function () {
      let uploadForm = document.getElementById('upload-form');
      let formData = new FormData(uploadForm);

      // Show loading alert
      Swal.fire({
        title: 'Aguarde...',
        text: 'Estamos processando suas imagens.',
        icon: 'info',
        allowOutsideClick: false,
        showConfirmButton: false,
        didOpen: () => {
          Swal.showLoading();
        }
      });

      fetch(uploadForm.action, {
        method: 'POST',
        body: formData
      }).then(response => response.json()).then(data => {
        if (data.success) {
          fetch('{{ url_for('convert_images') }}', {
            method: 'POST'
          }).then(response => response.json()).then(data => {
            Swal.close();
            if (data.success) {
              showAlert('success', data.message);
            } else {
              showAlert('error', data.message);
            }
          }).catch(error => {
            Swal.close();
            showAlert('error', 'Erro ao converter imagens.');
          });
        } else {
          Swal.close();
          showAlert('error', data.message);
        }
      }).catch(error => {
        Swal.close();
        showAlert('error', 'Erro ao enviar imagens.');
      });
    });

    document.getElementById('file-input').addEventListener('change', function (event) {
      const files = event.target.files;
      const preview = document.getElementById('image-preview');
      preview.innerHTML = '';

      Array.from(files).forEach(file => {
        const reader = new FileReader();
        reader.onload = function (e) {
          const img = document.createElement('img');
          img.src = e.target.result;

          const removeBtn = document.createElement('span');
          removeBtn.textContent = '×';
          removeBtn.className = 'remove';
          removeBtn.onclick = function () {
            preview.removeChild(imgContainer);
          };

          const imgContainer = document.createElement('div');
          imgContainer.className = 'picture';
          imgContainer.style.position = 'relative';
          imgContainer.appendChild(img);
          imgContainer.appendChild(removeBtn);

          preview.appendChild(imgContainer);
        };
        reader.readAsDataURL(file);
      });
    });
  </script>
</body>

</html>
